{
  "presets": ["es2015", "react", "stage-1"],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less", ".css"]
          }
        ]
      ]
    },
    "dev": {
      //"presets": ["react-hmre"]
    }
  }
}
