.LaunchPageHome {

}

.loginOptions {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.signInBox, .signUpBox {
	padding: 5px;
	margin: 5px;
}

.registerForm {
    text-align: center;
}